/*
Theme Name:   Soundtechnology
Description:  Casio Keyboards, Digital Pianos
Author:       soundtech_au
Author URL:   Inderjit Kaur
Template:     ecommerce-gem
Version:      1.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  soundtechnology
*/

/* Write here your own personal stylesheet */



h4,h5, h6,.h4, .h5, .h6,p {
    font-family: 'Raleway', sans-serif;
	color: #333;
	
}
h1,.h1,h2, .h2 {
    font-size: 25px;
	font-family: 'Poppins', sans-serif;
	color: #333;
}
h3, .h3 {
    font-family: 'Poppins', sans-serif;
	color: #333;
}
h5{    font-weight: 200; font-size:2rem; color:#333;}
.product_centered .center-block {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}
h4{font-family: 'Raleway', sans-serif;

font-size: 4em!important;

font-weight: 200;
color:#fff!important;

text-transform: uppercase;}
h4 span{color:#fff!important;}
code {
 
       font-family: 'Poppins', sans-serif;
    font-size: 1em;

    border-radius: 0;
   
   background-color: #fff;

    border-radius: 0;
    padding: 8px 20px;

border: none;

color: #333;
}
code:hover{background-color: #c7b198;}

.elementor-widget-image .widget-image-caption {
    color: #333!important;

}
.elementor-widget-heading .elementor-heading-title {

    font-family: 'Raleway', sans-serif!important;
    font-weight: bold!important;
}
label {

    font-size: 18px;
}
body {
   /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	   
    font-family: 'Raleway', sans-serif;*/
	font-family: 'Poppins', sans-serif;
	color: #333;
}
.padr150{padding-right: 150px;}
.padl150{padding-left: 150px;}
#masthead {
	background-color:#141414;
}
.main-navigation ul li a {
    color: #fff;
}
.main-navigation ul li.menu-item-has-children ul.sub-menu li a {
      color: #fff;
}
.main-navigation ul ul {
    background-color: #141414;
}
.main-slider, .main-slider .item, .main-slider .slider-caption {
    float: left;
    width: 100%;
    height: 65vh;
}
#breadcrumb {
    background: #fa6161;
    padding: 10px 0;
    color: #fff;
}
#footer-widgets .widget ul li::before {

    color: #fff;
    content: "\f105";
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 4px;
	
    line-height: 1;
    font-family: fontawesome;

}
#footer-widgets p, #footer-widgets .widget ul li, #footer-widgets .widget ul li a {

    color: #fff;
    font-size: 15px;
    font-weight: 400;

}
#footer-widgets {

    background: #141414;


}
#colophon {

    background-color: #141414;
}
.ecommerce_gem_widget_social ul li a::before {
    color: #fff;
}
.ecommerce_gem_widget_social li a {
    background: #c7b198;border-radius: 50%;
}
.ecommerce_gem_widget_social ul li a:hover::before {
    color: #141414;
}
.ecommerce_gem_widget_social ul li a[href*="youtube.com"]:hover {
    background-color: #c7b198;

}
.ecommerce_gem_widget_social ul li a[href*="facebook.com"]:hover {
    background-color:#c7b198;
}
#colophon .copyright, #colophon .copyright span, #colophon .copyright a, #colophon .site-info, #colophon .site-info a {
    color: #fff;
    font-size: 18px;
    line-height: 1;
}
.site-footer-wrap {
    float: left;
    width: 100%;
    border-top: 1px solid #fff;
    padding-top: 30px;
}
/*.sb-image-animation-2{
	border: 1px solid #ccc;
    border-radius: 50%;
	margin: 20px;
	
} */
.sb-image-hover-2-5 .sb-image-info {

  
    background-color: rgba(0, 160, 171, 0.5) !important;
}

.entry-content {
    margin: 0;
}
#content {
    padding: 0;
    clear: both;
}
.widget-title{text-align:center;
	    color: #000;
		font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    font-weight: 200;
    text-transform: uppercase;
	    font-weight: bold;
		margin: 40px 0px;}
		
	.widget	p {
    font-size: 2rem;
    color: #000;
    font-weight: 300;
	text-align:center;
    font-family: 'Raleway', sans-serif;
}
#text-8 {max-width:780px;
	width:100%;
	margin:30px auto;}
	.wp-caption-text {
 color: #000;
    text-align: center;
	    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
	font-size: 1em;

}
#text-8 a{color:#000 !important;}
#text-8 a:hover, #text-8 a:focus, #text-8 a:active {
color:#000;
    text-decoration:underline;

}
/*woocommerce product page*/
.woocommerce div.product .woocommerce-tabs ul.tabs {
display: none!important;

}
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {

    float: left;
    width: 100%;

}
#content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {

    float: left;
    width: 100%;
    clear: none;

}


.woocommerce div.product div.images .flex-control-thumbs li {

    width: 16.6%;
   

}
.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {

    clear:none

}
.woocommerce div.product .woocommerce-tabs .panel h2{display:none;}
.elementor-widget-heading .elementor-heading-title{display:block!important;}
.compare {

    font-weight: bold;
    border: none!important;
    color: #333 !important;
    opacity: 1 !important;
    border-radius: 0px;
    margin: 0px auto !important;
    display: block !important;
 max-width: 174px;
    text-align: center !important;

}
.added{background-color: #c7b198;}
.elementor-widget-button a.elementor-button, .elementor-widget-button .elementor-button {

    font-weight: 300!important;
    font-family: 'Raleway', sans-serif!important;
    background-color: #c7b198 !important;
	border-radius: 0 !important;

}
.elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {

    padding: 0!important;

}
td, th {

    border:none;
	 border-bottom: 1px solid #ccc;
    padding: 5px;

}
.elementor-accordion .elementor-accordion-item {
	
    border-bottom: 1px solid #333!important;
	border-top: none!important;
	border-left: none!important;
	border-right: none!important;
	color: #333!important;
}
.elementor-accordion .elementor-accordion-item:last-child{border-bottom:none!important;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-content {

    color: #333!important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
	border-top: 1px solid #333!important;

}
.woocommerce.single-product div.product .product_title {


    text-align: center!important;

}
p,li {
    font-size: 14px!important;
    line-height: 1.428571429!important;
    color: #333333!important;
    font-family: 'Poppins', sans-serif !important;
}
.container {
width:100%;
    max-width: 2000px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}
.woocommerce .products ul, .woocommerce ul.products {

    margin: 0px auto;
        margin-top: 0px;
    padding: 0;
    list-style: none outside;
    clear: both;
    max-width: 1140px;
    float: none;
    display: block;

}
.inner-wrapper {


    max-width:1140px;
    margin: 0px auto;

}

.elementor-section.elementor-section-boxed > .elementor-container {

    max-width: 100%!important;

}
#footer-widgets .inner-wrapper {

    max-width: 100% !important;
    margin: 0px auto;

}
.site-branding {

    float: left;
    margin-right: 30px;
    margin-top: 18px;
    margin-left: 30px;

}
#main-nav {


   margin-right: 20%;

}
.breadcrumb-trail .trail-items {

margin: 0px 30px 0px 30px;
    padding: 0;

}
.main-navigation ul li a {

    color: #fff;
    font-size: 12px;
	font-weight: normal;
	font-family: 'Poppins', sans-serif;
}
.top-right {

    float: right;
    margin-right: 50px;
    top: 12px;
    position: absolute;
    right: 0px;
    z-index: 99999;

}
.top-header .search-holder .search-btn {

    height: 45px;
    width: 45px;
    text-align: center;
    background: transparent;

}
.top-header .ecommerce_gem_widget_social li a {
    background: #c7b198;border-radius: 50%;
}
.top-header .ecommerce_gem_widget_social ul li a::before {
    color: #fff;
}

.top-header .ecommerce_gem_widget_social ul li a:hover::before {
    color: #141414;
}
.top-header .ecommerce_gem_widget_social ul li a[href*="youtube.com"]:hover {
    background-color: #c7b198;

}
.top-header .ecommerce_gem_widget_social ul li a[href*="facebook.com"]:hover {
    background-color:#c7b198;
}
.top-header .ecommerce_gem_widget_social li a {

    background: #c7b198;
    display: inline-block;
    height: 33px;
    line-height: 1.7;
    margin-right: 0;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    width: 33px;

}
.top-header .ecommerce_gem_widget_social li a:hover {

    background: #c7b198!important;
       
	   
}
.top-header .search-holder {

    border-right: 0px;
    padding: 8px 0px;

}

.search-box .product-search-wrapper form select {

    float: left;
    padding: 10px 11px;
    background: transparent;
    width: 190px;
    font-size: 16px;
    height: 53px;
    color: #fff;
	text-transform:uppercase;

}
.search-box .product-search-wrapper form input[type="text"], .search-box .product-search-wrapper form select {

    float: left;
    padding: 10px 11px;
    background: transparent;
width: 190px;
    font-size: 16px;
    height: 53px;
    color: #fff;
    font-size: 14px;
	text-transform:uppercase;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;

}
.search-box .product-search-wrapper form {

    float: left;
    background: #141414;

}
.search-box .product-search-wrapper form select {

  background: #141414;
}
.search-box {

    position: absolute;
    right: 0;
    width: 435px;
    top: 100%;
    z-index: 9999;

}
.search-box .product-search-wrapper form input[type="text"] {

    border-right: 1px solid #fff;


}

#footer-widgets .widget .widget-title {

   
    font-size: 14px !important;
    font-weight: bold;
margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: left;

}
#footer-widgets .widget ul li a {

    color: #fff;
    font-size: 14px;
    font-weight: 400;
    

}
#footer-widgets .widget ul li{
	line-height: 2 !important;
	margin-bottom: 0;
}
#colophon .copyright, #colophon .copyright span, #colophon .copyright a, #colophon .site-info, #colophon .site-info a {

    color: #fff;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    width: 100%;

}
#colophon {


    padding-bottom: 25px;


}

#footer-widgets .widget.ecommerce_gem_widget_social {

    width: 130px;

	float:left;
margin-left: 42px;
}
.alignnone {

    clear: both;
    display: inline-block;
    margin-left: 16px;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
	float: left;

}
li.product .product-info-wrap {
    background: #fff;
    padding: 10px 10px;
    position: relative;
    text-align: center;
}
li.product .product-thumb-wrap::before {
   
    left: 10px;
    height: 100%;
    width: 92%;
}
li.product .product-thumb-wrap{ padding-left:10px;padding-right:10px;}

.woocommerce.single-product div.product {
    text-align: left;
    padding: 90px 0px 30px 0px;
}
.woocommerce.single-product div.product .product_title {
    text-align: center!important;
    position: absolute;
    top: 30px;
    left: 40%;
    color: #333;
    font-size: 2.5em;
    font-weight: bold;
}
/*mobile nav*/
@media only screen and (max-width:1050px) {
	.site-branding {

    float: left;
    margin-right: 30px;
    margin-top: 0;
    margin-left: 0px;

}
.mean-container .mean-nav {


margin-top: 89px;}
.top-right {

width: auto!important;
    top: 18px;


}
	
}
@media only screen and (max-width:479px) {
	.top-right {

    width: 100%!important;
    top: 50px;
    margin-right: 0px;
    height: 45px;

}
#masthead{padding-top:20px;padding-bottom:26px;}

.site-branding {
	
    float: left;
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
}
.site-branding .custom-logo{height: auto;margin-top: 10px;

max-width: 85%;}
.top-header .top-social-menu {


    border: 0;
	float: left;

}

.top-social-menu #menu-social-menu{float: left;

margin-left: 36px;}

.top-header .search-holder {

    border-right: 0px;
    padding: 8px 0px;
    float: right;

}
.search-box {

    right: 8px;

}
.search-box .product-search-wrapper form button[type="submit"] {

   
    height: 106px;
    width: 53px;

}
.search-box {

    width: 243px;
}
}
@media only screen and (min-width:480px) and (max-width:640px){.search-box {

    right: -50px;

}}

.paddingr15{padding-right:15px;}
.paddingl15{padding-left:15px;}
.elementor-invisible {

    visibility: visible!important;

}
.floatr{float:right;}

.n2-section-smartslider { top: -15px!important;}
.woocommerce.single-product div.product .product_title {

    text-align: center !important;
    position: absolute;
    top: 30px;
    left: 0;
    color: 

    #333;
    font-size: 2.5em;
    font-weight: bold;
    width: 100%;

}

/*.woocommerce div.product .out-of-stock {
  
    display: none;
}*/
.wpcf7 input.wpcf7-submit {

    border: none;
}
.wpdmcategory-training-document .w3eden .card {
border:none !important;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-title {
    color: #333!important;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    font-size: 29px!important;
	border-bottom: none!important;
	text-align: center!important;
}
.elementor-widget-toggle .elementor-toggle .elementor-tab-title.elementor-active {
    color: #333!important;
}
.elementor-toggle .elementor-tab-content {


    border-bottom: none!important;


}
.elementor-toggle .elementor-tab-title .elementor-toggle-icon.elementor-toggle-icon-left {

    float: none!important;
    text-align: center!important;
	 color: #c7b198!important;

}
.elementor-toggle .elementor-tab-content {

    padding:15px 0!important;
}
.elementor-widget-heading.elementor-widget-heading .elementor-heading-title {

    color: #333!important;

}
th {

    background-color: 

    #f5f5f5 !important;
    width: 20%!important;
    height: 100px!important;
    padding: 15px!important;
color:#333333!important;
}
td{

    
    padding: 15px!important;color:#333333!important;

}
table {border:1px solid #d5d4d4!important;}
.container-image-and-badge {

    z-index: -1!important;
 
}
.woocommerce ul.products li.product .woocommerce-loop-product__title{
   font-family: "Roboto", Sans-serif;
    font-weight: 400!important;
    font-size: 1rem !important;
}
.related  h2 {


    text-transform: uppercase;

}
h3, .h3 {

   
    text-transform: uppercase;

}

@media only screen and (max-width:1130px){

 .single .elementor-widget-button{

    width: 50%!important;
    max-width: 50%!important;
	text-align: center;

}
}

@media only screen and (max-width:430px){
	.elementor-button.elementor-size-sm {

    font-size: 12px!important;

}
}
@media only screen and (max-width:767px){
	.padr150 {

    padding-right: 0!important;

}
.padl150 {

    padding-left: 0!important;

}
}
.single-thankyou_page {
    border: none!important;
}

.wpcf7 input[type="checkbox"] {

    box-sizing: border-box;
    padding: 0;
    float: left!important;
    max-width: 20px!important;
    margin-top: 6px!important;
    margin-left: -20px!important;

}
#main-nav {

    margin-right: 16.5%!important;

}
#primary {

   
    min-height: 521px!important;

}
#promo h2{text-transform: uppercase;
text-align: center;
display: flex;
align-items: center;
align-content: center;
vertical-align: middle;
min-height: 445px;}

.woocommerce .products ul, .woocommerce ul.products {

   
    display: flex!important;
}
.woocommerce ul.products li.product {

    float: none;
   
  
    position: relative;
    width: 22.05%;
	max-width: 222px;
    margin-left: 0;
    display: initial!important;
    margin-left: auto!important;
    margin-right: auto!important;

}
.home .inner-wrapper {

    max-width: 1400px!important;
    margin: 0px auto;

}

/*home*/

@media only screen and (max-width:767px){
.elementor-365 .elementor-element.elementor-element-b72447e > .elementor-widget-container {
    margin: 0;
    padding: 0;
}

.elementor-widget-image .elementor-image  a {

    display: inline-block;
    width: 100%;

}
.elementor-365 .elementor-element.elementor-element-6618dc5 > .elementor-widget-container {

    margin: 0px 0px 0px 0px;
    padding: 0!important;

}

.elementor img {


    width: 100%;

}
.elementor-365 .elementor-element.elementor-element-8996587 > .elementor-widget-container {


    padding:15px 0!important;

}
.elementor-365 .elementor-element.elementor-element-b72447e > .elementor-widget-container {

    margin: 0!important;
    padding: 0!important;

}
.paddingr15 {

    padding-right: 0!important;

}
.elementor-365 .elementor-element.elementor-element-a506b98 > .elementor-widget-container {

    padding: 15px 0 !important;

}
.paddingl15 {

    padding-left: 0!important;

}
.elementor-365 .elementor-element.elementor-element-b31cd0f > .elementor-widget-container {

    margin: 0!important;

}

}
@media only screen and (max-width:767px){

h4 {

   
    font-size: 2em !important;
}
h5 {

   
    font-size: 1rem!important;
}


}


/*products*/
@media only screen and (max-width:767px){
	.woocommerce .products ul, .woocommerce ul.products {

    display: grid !important;

}
}

@media only screen and (max-width:470px){
	.elementor-element-7e75953f{max-height:165px;}
	
	
	.elementor-591 .elementor-element.elementor-element-b7df14d > .elementor-container {

    min-height: 125px!important;

}

.elementor-608 .elementor-element.elementor-element-2086ebe > .elementor-container {

    min-height: 125px!important;

}
.elementor-625 .elementor-element.elementor-element-162f139 > .elementor-container {

    min-height: 125px!important;

}

.elementor-639 .elementor-element.elementor-element-740a52d > .elementor-container {
	
    min-height: 125px!important;

}

.elementor-646 .elementor-element.elementor-element-eafd425 > .elementor-container {
	
    min-height: 125px!important;

}

.elementor-505 .elementor-element.elementor-element-3efd60f > .elementor-container {

     min-height: 125px!important;

}
.elementor-655 .elementor-element.elementor-element-56bdea5 > .elementor-container {
	
  min-height: 125px!important;

}
.top-social-menu{
display: none!important;
}
}

@media only screen and (min-width:471px) and (max-width:767px){
	.elementor-591 .elementor-element.elementor-element-b7df14d > .elementor-container {

    min-height: 242px!important;

}
.elementor-608 .elementor-element.elementor-element-2086ebe > .elementor-container {

 min-height: 242px!important;

}


.elementor-625 .elementor-element.elementor-element-162f139 > .elementor-container {

    min-height: 242px!important;

}

.elementor-639 .elementor-element.elementor-element-740a52d > .elementor-container {
	
    min-height: 242px!important;

}

.elementor-646 .elementor-element.elementor-element-eafd425 > .elementor-container {
	
    min-height: 242px!important;

}

.elementor-505 .elementor-element.elementor-element-3efd60f > .elementor-container {
	
     min-height: 242px!important;

}
.elementor-655 .elementor-element.elementor-element-56bdea5 > .elementor-container {
	
  min-height: 242px!important;

}

}
@media only screen and (min-width:768px) and (max-width:1200px){
	.elementor-591 .elementor-element.elementor-element-b7df14d > .elementor-container {

    min-height: 242px!important;

}

.elementor-608 .elementor-element.elementor-element-2086ebe > .elementor-container {
	
 min-height: 242px!important;

}

.elementor-625 .elementor-element.elementor-element-162f139 > .elementor-container {

    min-height: 242px!important;

}
.elementor-639 .elementor-element.elementor-element-740a52d > .elementor-container {
	
    min-height: 242px!important;

}

.elementor-646 .elementor-element.elementor-element-eafd425 > .elementor-container {
	
    min-height: 242px!important;

}

.elementor-505 .elementor-element.elementor-element-3efd60f > .elementor-container {

     min-height: 242px!important;

}

.elementor-655 .elementor-element.elementor-element-56bdea5 > .elementor-container {
	
  min-height: 242px!important;

}


}

.ecommerce_gem_widget_social ul li a[href*="instagram.com"]:hover {

    background-color: 

    #c7b198!important;

}
#nav_menu-2{float: right;

 margin-right: 106px;}
#nav_menu-3,#nav_menu-4{max-width: 174px;

margin: 0px auto;}


@media only screen and (max-width:767px){
	
	#nav_menu-2 {
		
    float: left;
    margin-right: 0;
    margin-left: 45px;

}
#nav_menu-3, #nav_menu-4 {

    max-width: 160px;
    margin: 0px auto;
        margin-left: auto;
    float: left;
    margin-left: 45px;

}
	
}

@media only screen and (max-width:1050px){

#primary-menu .sub-menu{display: block!important;

z-index: 99!important;}

#primary-menu .sub-menu li {

    float: left;
    margin: 0;
    position: relative;
    width: 100%;
    background-color: 

    #c7b198;

}

#primary-menu  li a:hover {

    background: 

#252525;
}

}


@media only screen and (min-width:1051px) and (max-width:1200px){

#main-nav {

    margin-right: 26% !important;

}
}
@media only screen and (min-width:1201px) and (max-width:1400px){

#main-nav {

    margin-right: 24% !important;

}

}
@media only screen and (min-width:1401px) and (max-width:1600px){

#main-nav {

    margin-right: 21.5% !important;

}
}
@media only screen and (min-width:1401px) and (max-width:1800px){

#main-nav {

    margin-right: 21.5% !important;

}
}
/*new styles*/
/*related products*/

.related products .woocommerce-page.columns-3 ul.products li.product, .woocommerce.columns-3 ul.products li.product {
    width: 100%;
    max-width: 218px;
}
/*related products*/

/*badge*/
.yith-wcbm-badge {
   
    width: auto;
    height: 50px;
  
    padding: 0px 15px;
}

/*style for product layout start*/

/*.woocommerce ul.products li.product {
    float: none;
    position: relative;
    width: 100%;
    margin-left: 0;
    display: inline-block !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    min-width: 218px;
    max-width: 218px;
}

.woocommerce .products ul, .woocommerce ul.products {
    display: block !important;
}

.woocommerce .products ul, .woocommerce ul.products {
    
    padding: 0;
    list-style: none outside;
    clear: both;
    max-width: 1140px;
    float: left;
  
}*/
/*style for product layout end*/




/*search page style start*/

.search-results .woocommerce-products-header {
    float: left;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
}

.search-results .woocommerce-products-header__title.page-title {
    color: #515151;
    font-weight: 500;
    padding: 15px 0px;
    line-height: 1.4;
}
.search-results .woocommerce nav.woocommerce-pagination {
    float: left;
    padding-bottom: 60px;
}
/*search page style end*/

/*pop up */

#sg-popup-content-wrapper-5261 h3{padding: 0px 34px;}
#sg-popup-content-wrapper-5261 p{padding: 0px 38px;}
.sgpb-inputs-wrapper input{width:85%!important;}
.sgpb-form-wrapper {
    text-align: center;
    padding-bottom: 12px;
}
/*pop up */

/*mobile menu*/
@media only screen and (max-width:767px){
.meanmenu-reveal{right: 25px!important;top: -10px !important;}
.top-header .search-holder {
    
    margin-right: 25px!important;
}
.woocommerce ul.products[class*="columns-"] li.product, .woocommerce-page ul.products[class*="columns-"] li.product {
   
    margin: 0;
}

.woocommerce.single-product div.product .product_title {
    
    font-size: 1.5rem!important;
}
.elementor-button.elementor-size-sm {
  
    padding: 12px 12px!important;
}

/*paged container */


.elementor-245 .elementor-element.elementor-element-d44472d > .elementor-widget-container {
    margin: 30px 0!important;
}
.elementor-245 .elementor-element.elementor-element-bf8bded > .elementor-element-populated {
    margin: 30px 0px!important;
}
.elementor-182 .elementor-element.elementor-element-12c5b4c4 > .elementor-element-populated {
    margin: 30px 0px!important;
}
.elementor-286 .elementor-element.elementor-element-482250e0 > .elementor-element-populated {
    margin: 30px 0px!important;
}
.elementor-column-gap-wider > .elementor-row > .elementor-column > .elementor-element-populated {
    padding: 30px 0px!important;
}

/*paged container */

}
/*mobile menu*/

/*ipad*/
@media only screen and (min-width:768px) and (max-width:1050px){
.top-right {
    float: right;
    margin-right: 50px;
    top: 12px;
    position: absolute;
    right: 25px;
}
.meanmenu-reveal{right:25px!important;top: -10px !important;}
h4 ,h5{
    
    line-height: normal;
}
#nav_menu-2 {
    
    margin-right: 47px;
}

.padr150 {
    padding-right: 10px;
}
.padl150 {
    padding-left: 10px;
}
}

/* hide google captcha */
.grecaptcha-badge {
opacity: 0;
}

@media only screen and (max-width:767px){
	td{padding:5px !important;}
	table ul{margin:0px;}
}

@media only screen and (min-width:768px){


#sg-popup-content-wrapper-5261 {
    height: 191px;
    max-width: 1000px;
    margin: 0px auto;
    padding: 30px;
    width: 100%;
}
#sg-popup-content-wrapper-5261 p {
    padding: 0px!important;
}
#sg-popup-content-wrapper-5261 h3 {
    padding: 0!important;
}
 .sgpb-form-wrapper {
    text-align: left;
    padding-bottom: 12px;
}
  .js-sgpb-form-field-first-name-wrapper{width: 60%;
float: left;}
  .js-subs-email-input, .js-subs-first-name-input,.sgpb-form-wrapper input[type="email"],.sgpb-form-wrapper input[type="text"] {max-width: 350px !important;}
 .js-sgpb-form-field-submit-wrapper{float: right;
width: 40%;}

 .js-subs-submit-btn,.sgpb-form-wrapper input[type="submit"]{float: left;
max-width: 200px !important;}
.sgpb-subs-form-5261 {
    background-color: rgba(255,255,255,1);
    padding: 0;
}
}

.woocommerce-result-count {width:100%!important;text-align:center!important;}
 .woocommerce nav.woocommerce-pagination {
    float: none!important;
}


@media only screen and (min-width:1550px){
 .elementor-element-1dc46c2 .woocommerce ul.products{max-width: 1550px;width:100%;}

.elementor-element-1dc46c2 .woocommerce ul.products li.product {

   
    min-width: 222px;

}

.woocommerce ul.products li.product {
    
    max-width: 222px;
    
    min-width: 222px;
}

}
@media only screen and (min-width:1440px) and (max-width:1549px){
	
	
.woocommerce ul.products li.product {
   
    max-width: 204px;
}
 .elementor-element-1dc46c2 .woocommerce ul.products{max-width: 1550px;width:100%;}
}

@media only screen and (min-width:1280px) and (max-width:1439px){
	
	
.woocommerce ul.products li.product {
   
    max-width: 180px;
}
 .elementor-element-1dc46c2 .woocommerce ul.products{max-width: 1550px;width:100%;}
}
@media only screen and (min-width:767px) and (max-width:1279px){
	
	
.woocommerce ul.products li.product {
   
    max-width: 125px;
}
 .elementor-element-1dc46c2 .woocommerce ul.products{max-width: 1550px;width:100%;}
}

.sgpb-content-5261,.sgpb-form-wrapper{background-color:#ccc !important;width:100%!important;max-width:100%!important;}

/*cart style*/


 .woocommerce-cart table.cart img {
    width: 100%;
    
}

.woocommerce form .form-row .required {
    color: #333;
    
}

@media only screen and (min-width:992px){
	.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    float: left;
    width: 45%;
margin-right: 30px;
}

#content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    float: left;
    width: 50%;
    clear: none;
}
.compare {float:left;}
.woocommerce-product-details__short-description ,.woocommerce-product-details__short-description p{text-align:left!important;}
}

.woocommerce div.product p.price{
font-size: 20px !important;
font-weight: 500;
color: #c7b198 !important;
}

/*hide instock */
.in-stock{display:none;}

.woocommerce div.product form.cart .variations {
   
    border: none !important;
}
.variations select,.qty {
    color: #333;
    border: 1px solid #ccc;
}
.woocommerce a.button{background-color:#333!important;}
.woocommerce-terms-and-conditions-link{text-decoration:underline;}

/*cart top header*/

header .top-cart-wrapper:hover{background-color:transparent;}
.top-cart-wrapper:hover .top-cart-content {
   
    visibility: hidden;display:none;
   
}
.top-cart-content{display:none;}
.top-header .top-cart-wrapper a i, .top-header .top-wishlist-wrapper a i {
    color: #fff;
    font-size: 24px;
    margin-top: 2px;
}
.top-header .top-cart-wrapper
{
    border: none!important;
}

.top-header .top-cart-wrapper {
   
    padding: 15px 0px 15px 20px;
}
.sgpb-popup-dialog-main-div-theme-wrapper-3
{left:0!important;}

@media only screen and (max-width:767px){

div#n2-ss-2 .n2-style-20cabecfd064853b4c7e97d687a90734-heading {
    
    padding: 5px 20px!important
}

.top-header .top-cart-wrapper {left:130px!important}
}

.top-header .search-holder .search-btn i:hover,.top-header .search-holder .search-btn,.top-header .search-holder .search-btn:hover{color:#fff;}

@media only screen and (min-width:1201px) and (max-width:1440px){


.elementor-591 .elementor-element.elementor-element-b7df14d > .elementor-container,.elementor-608 .elementor-element.elementor-element-2086ebe > .elementor-container,.elementor-625 .elementor-element.elementor-element-162f139 > .elementor-container,.elementor-639 .elementor-element.elementor-element-740a52d > .elementor-container,.elementor-646 .elementor-element.elementor-element-eafd425 > .elementor-container
,.elementor-505 .elementor-element.elementor-element-3efd60f > .elementor-container,.elementor-655 .elementor-element.elementor-element-56bdea5 > .elementor-container {
    min-height: 410px!important
}
}

/*cart button*/

.woocommerce a.button{
   
    border: 1px solid #333!important
}

.woocommerce-cart .cart-collaterals .cart_totals .woocommerce-shipping-destination {
display: none; }

/*checkout order summary tiggle*/
#order_review_heading::before{font-family: "Font Awesome 5 Free"; content: "\f0da";color: #c7b198;}
.hideorders::before {
    font-family: "Font Awesome 5 Free";
   color: #c7b198;
	content: "\f0d8"!important;
}

.sgpb-popup-dialog-main-div-theme-wrapper-3{width:100%!important;}

.woocommerce div.product .out-of-stock {
    color: red!important;
}

/* slider button on led */
@media only screen and (min-width:1920px){

.n2-ss-slider .n2-ss-layer-content .n2-ss-layer[data-pm=normal]{margin: 0em 3.125em 10em!important;}
}

/*paypal icon on checkout*/

.woocommerce-checkout #payment .payment_method_paypal img {
    max-height: 35px!important;
}

.woocommerce-checkout #payment ul.payment_methods {
    
    background-color: #fff;
}
.woocommerce-checkout #payment ul.payment_methods li {
    
    border-bottom: 1px solid #ccc;
    
    min-height: 50px;
   
    vertical-align: middle;
    padding: 20px 0px;
}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
   
    display: none;
}
#add_payment_method #payment div.form-row, .woocommerce-cart #payment div.form-row, .woocommerce-checkout #payment div.form-row {
    padding: 1em;
    background-color: #fff!important;
}
.woocommerce-checkout #payment ul.payment_methods{border:none !important;}
.woocommerce-checkout #payment div.payment_box {
    display: inline-block;
    background: #fff;
   
    border: 1px solid #ccc;
}
.woocommerce-checkout #payment div.payment_box::before {
    
    top: -1em;
}

.woocommerce-checkout #payment ul.payment_methods li img:first-child {float:right;}
.payment_method_paypal img,.woocommerce-checkout #payment ul.payment_methods li input ,.payment_method_afterpay img{float:left!important;}


.yith-wcbm-badge-502{ display: block!important;}