/*
Theme Name:   Soundtechnology
Description:  Casio Keyboards, Digital Pianos
Author:       soundtech_au
Author URL:   Inderjit Kaur
Template:     ecommerce-gem
Version:      1.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  soundtechnology
*/

/* Write here your own personal stylesheet */



h4,h5, h6,.h4, .h5, .h6,p {
    font-family: 'Raleway', sans-serif;
	color: #333;
	
}
h1,.h1,h2, .h2 {
    font-size: 25px;
	font-family: 'Poppins', sans-serif;
	color: #333;
}
h3, .h3 {
    font-family: 'Poppins', sans-serif;
	color: #333;
}
h5{    font-weight: 200; font-size:2rem; color:#333;}
.product_centered .center-block {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}
h4{font-family: 'Raleway', sans-serif;

font-size: 4em!important;

font-weight: 200;
color:#fff!important;

text-transform: uppercase;}
h4 span{color:#fff!important;}
code {
 
       font-family: 'Poppins', sans-serif;
    font-size: 1em;

    border-radius: 0;
   
   background-color: #fff;

    border-radius: 0;
    padding: 8px 20px;

border: none;

color: #333;
}
code:hover{background-color: #c7b198;}

.elementor-widget-image .widget-image-caption {
    color: #333!important;

}
.elementor-widget-heading .elementor-heading-title {

    font-family: 'Raleway', sans-serif!important;
    font-weight: bold!important;
}
label {

    font-size: 18px;
}
body {
   /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	   
    font-family: 'Raleway', sans-serif;*/
	font-family: 'Poppins', sans-serif;
	color: #333;
}
.padr150{padding-right: 150px;}
.padl150{padding-left: 150px;}
#masthead {
	background-color:#141414;
}
.main-navigation ul li a {
    color: #fff;
}
.main-navigation ul li.menu-item-has-children ul.sub-menu li a {
      color: #fff;
}
.main-navigation ul ul {
    background-color: #141414;
}
.main-slider, .main-slider .item, .main-slider .slider-caption {
    float: left;
    width: 100%;
    height: 65vh;
}
#breadcrumb {
    background: #fa6161;
    padding: 10px 0;
    color: #fff;
}
#footer-widgets .widget ul li::before {

    color: #fff;
    content: "\f105";
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 4px;
	
    line-height: 1;
    font-family: fontawesome;

}
#footer-widgets p, #footer-widgets .widget ul li, #footer-widgets .widget ul li a {

    color: #fff;
    font-size: 15px;
    font-weight: 400;

}
#footer-widgets {

    background: #141414;


}
#colophon {

    background-color: #141414;
}
.ecommerce_gem_widget_social ul li a::before {
    color: #fff;
}
.ecommerce_gem_widget_social li a {
    background: #c7b198;border-radius: 50%;
}
.ecommerce_gem_widget_social ul li a:hover::before {
    color: #141414;
}
.ecommerce_gem_widget_social ul li a[href*="youtube.com"]:hover {
    background-color: #c7b198;

}
.ecommerce_gem_widget_social ul li a[href*="facebook.com"]:hover {
    background-color:#c7b198;
}
#colophon .copyright, #colophon .copyright span, #colophon .copyright a, #colophon .site-info, #colophon .site-info a {
    color: #fff;
    font-size: 18px;
    line-height: 1;
}
.site-footer-wrap {
    float: left;
    width: 100%;
    border-top: 1px solid #fff;
    padding-top: 30px;
}
/*.sb-image-animation-2{
	border: 1px solid #ccc;
    border-radius: 50%;
	margin: 20px;
	
} */
.sb-image-hover-2-5 .sb-image-info {

  
    background-color: rgba(0, 160, 171, 0.5) !important;
}

.entry-content {
    margin: 0;
}
#content {
    padding: 0;
    clear: both;
}
.widget-title{text-align:center;
	    color: #000;
		font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    font-weight: 200;
    text-transform: uppercase;
	    font-weight: bold;
		margin: 40px 0px;}
		
	.widget	p {
    font-size: 2rem;
    color: #000;
    font-weight: 300;
	text-align:center;
    font-family: 'Raleway', sans-serif;
}
#text-8 {max-width:780px;
	width:100%;
	margin:30px auto;}
	.wp-caption-text {
 color: #000;
    text-align: center;
	    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
	font-size: 1em;

}
#text-8 a{color:#000 !important;}
#text-8 a:hover, #text-8 a:focus, #text-8 a:active {
color:#000;
    text-decoration:underline;

}
/*woocommerce product page*/
.woocommerce div.product .woocommerce-tabs ul.tabs {
display: none!important;

}
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {

    float: left;
    width: 100%;

}
#content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {

    float: left;
    width: 100%;
    clear: none;

}
.woocommerce div.product div.images .flex-control-thumbs li {

    width: 16.6%;
   

}
.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {

    clear:none

}
.woocommerce div.product .woocommerce-tabs .panel h2{display:none;}
.elementor-widget-heading .elementor-heading-title{display:block!important;}
.compare {

    font-weight: bold;
    border: none!important;
    color: #333 !important;
    opacity: 1 !important;
    border-radius: 0px;
    margin: 0px auto !important;
    display: block !important;
 max-width: 174px;
    text-align: center !important;

}
.added{background-color: #c7b198;}
.elementor-widget-button a.elementor-button, .elementor-widget-button .elementor-button {

    font-weight: 300!important;
    font-family: 'Raleway', sans-serif!important;
    background-color: #c7b198 !important;
	border-radius: 0 !important;

}
.elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {

    padding: 0!important;

}
td, th {

    border:none;
	 border-bottom: 1px solid #ccc;
    padding: 5px;

}
.elementor-accordion .elementor-accordion-item {

    border-bottom: 1px solid #333!important;
	border-top: none!important;
	border-left: none!important;
	border-right: none!important;
	color: #333!important;
}
.elementor-accordion .elementor-accordion-item:last-child{border-bottom:none!important;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-content {

    color: #333!important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
	border-top: 1px solid #333!important;

}
.woocommerce.single-product div.product .product_title {


    text-align: center!important;

}
p,li {
    font-size: 14px!important;
    line-height: 1.428571429!important;
    color: #333333!important;
    font-family: 'Poppins', sans-serif !important;
}
.container {
width:100%;
    max-width: 2000px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}
.woocommerce .products ul, .woocommerce ul.products {

    margin: 0px auto;
        margin-top: 0px;
    padding: 0;
    list-style: none outside;
    clear: both;
    max-width: 1140px;
    float: none;
    display: block;

}
.inner-wrapper {


    max-width:1140px;
    margin: 0px auto;

}

.elementor-section.elementor-section-boxed > .elementor-container {

    max-width: 100%!important;

}
#footer-widgets .inner-wrapper {

    max-width: 100% !important;
    margin: 0px auto;

}
.site-branding {

    float: left;
    margin-right: 30px;
    margin-top: 18px;
    margin-left: 30px;

}
#main-nav {


   margin-right: 20%;

}
.breadcrumb-trail .trail-items {

margin: 0px 30px 0px 30px;
    padding: 0;

}
.main-navigation ul li a {

    color: #fff;
    font-size: 12px;
	font-weight: normal;
	font-family: 'Poppins', sans-serif;
}
.top-right {

    float: right;
    margin-right: 50px;
    top: 12px;
    position: absolute;
    right: 0px;
    z-index: 99999;

}
.top-header .search-holder .search-btn {

    height: 45px;
    width: 45px;
    text-align: center;
    background: transparent;

}
.top-header .ecommerce_gem_widget_social li a {
    background: #c7b198;border-radius: 50%;
}
.top-header .ecommerce_gem_widget_social ul li a::before {
    color: #fff;
}

.top-header .ecommerce_gem_widget_social ul li a:hover::before {
    color: #141414;
}
.top-header .ecommerce_gem_widget_social ul li a[href*="youtube.com"]:hover {
    background-color: #c7b198;

}
.top-header .ecommerce_gem_widget_social ul li a[href*="facebook.com"]:hover {
    background-color:#c7b198;
}
.top-header .ecommerce_gem_widget_social li a {

    background: #c7b198;
    display: inline-block;
    height: 33px;
    line-height: 1.7;
    margin-right: 0;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    width: 33px;

}
.top-header .ecommerce_gem_widget_social li a:hover {

    background: #c7b198!important;
       
	   
}
.top-header .search-holder {

    border-right: 0px;
    padding: 8px 0px;

}

.search-box .product-search-wrapper form select {

    float: left;
    padding: 10px 11px;
    background: transparent;
    width: 190px;
    font-size: 16px;
    height: 53px;
    color: #fff;
	text-transform:uppercase;

}
.search-box .product-search-wrapper form input[type="text"], .search-box .product-search-wrapper form select {

    float: left;
    padding: 10px 11px;
    background: transparent;
width: 190px;
    font-size: 16px;
    height: 53px;
    color: #fff;
    font-size: 14px;
	text-transform:uppercase;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;

}
.search-box .product-search-wrapper form {

    float: left;
    background: #141414;

}
.search-box .product-search-wrapper form select {

  background: #141414;
}
.search-box {

    position: absolute;
    right: 0;
    width: 435px;
    top: 100%;
    z-index: 9999;

}
.search-box .product-search-wrapper form input[type="text"] {

    border-right: 1px solid #fff;


}

#footer-widgets .widget .widget-title {

   
    font-size: 14px !important;
    font-weight: bold;
margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: left;

}
#footer-widgets .widget ul li a {

    color: #fff;
    font-size: 14px;
    font-weight: 400;
    

}
#footer-widgets .widget ul li{
	line-height: 2 !important;
	margin-bottom: 0;
}
#colophon .copyright, #colophon .copyright span, #colophon .copyright a, #colophon .site-info, #colophon .site-info a {

    color: #fff;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    width: 100%;

}
#colophon {


    padding-bottom: 25px;


}

#footer-widgets .widget.ecommerce_gem_widget_social {

    width: 130px;

	float:left;
margin-left: 42px;
}
.alignnone {

    clear: both;
    display: inline-block;
    margin-left: 16px;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
	float: left;

}
li.product .product-info-wrap {
    background: #fff;
    padding: 20px 0px 20px 0;
    position: relative;
    text-align: center;
}

.woocommerce.single-product div.product {
    text-align: left;
    padding: 90px 0px 30px 0px;
}
.woocommerce.single-product div.product .product_title {
    text-align: center!important;
    position: absolute;
    top: 30px;
    left: 40%;
    color: #333;
    font-size: 2.5em;
    font-weight: bold;
}
/*mobile nav*/
@media only screen and (max-width:1050px) {
	.site-branding {

    float: left;
    margin-right: 30px;
    margin-top: 0;
    margin-left: 30px;

}
.mean-container .mean-nav {


margin-top: 89px;}
.top-right {

width: auto!important;
    top: 18px;


}
	
}
@media only screen and (max-width:479px) {
	.top-right {

    width: 100%!important;
    top: 50px;
    margin-right: 0px;
    height: 45px;

}
#masthead{padding-top:20px;padding-bottom:42px;}

.site-branding {
	
    float: left;
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
}
.site-branding .custom-logo{height: auto;

max-width: 85%;}
.top-header .top-social-menu {


    border: 0;
	float: left;

}

.top-social-menu #menu-social-menu{float: left;

margin-left: 36px;}

.top-header .search-holder {

    border-right: 0px;
    padding: 8px 0px;
    float: right;

}
.search-box {

    right: 8px;

}
.search-box .product-search-wrapper form button[type="submit"] {

   
    height: 106px;
    width: 53px;

}
.search-box {

    width: 243px;
}
}
@media only screen and (min-width:480px) and (max-width:640px){.search-box {

    right: -50px;

}}

.paddingr15{padding-right:15px;}
.paddingl15{padding-left:15px;}
.elementor-invisible {

    visibility: visible!important;

}
.floatr{float:right;}

.n2-section-smartslider { top: -15px!important;}
.woocommerce.single-product div.product .product_title {

    text-align: center !important;
    position: absolute;
    top: 30px;
    left: 0;
    color: 

    #333;
    font-size: 2.5em;
    font-weight: bold;
    width: 100%;

}

.woocommerce div.product .out-of-stock {
  
    display: none;
}
.wpcf7 input.wpcf7-submit {

    border: none;
}
.wpdmcategory-training-document .w3eden .card {
border:none !important;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-title {
    color: #333!important;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    font-size: 29px!important;
	border-bottom: none!important;
	text-align: center!important;
}
.elementor-widget-toggle .elementor-toggle .elementor-tab-title.elementor-active {
    color: #333!important;
}
.elementor-toggle .elementor-tab-content {


    border-bottom: none!important;


}
.elementor-toggle .elementor-tab-title .elementor-toggle-icon.elementor-toggle-icon-left {

    float: none!important;
    text-align: center!important;
	 color: #c7b198!important;

}
.elementor-toggle .elementor-tab-content {

    padding:15px 0!important;
}
.elementor-widget-heading.elementor-widget-heading .elementor-heading-title {

    color: #333!important;

}
th {

    background-color: 

    #f5f5f5 !important;
    width: 20%!important;
    height: 100px!important;
    padding: 15px!important;
color:#333333!important;
}
td{

    
    padding: 15px!important;color:#333333!important;

}
table {border:1px solid #d5d4d4!important;}
.container-image-and-badge {

    z-index: -1!important;
 
}
.woocommerce ul.products li.product .woocommerce-loop-product__title{
   font-family: "Roboto", Sans-serif;
    font-weight: 400!important;
    font-size: 1rem !important;
}
.related  h2 {


    text-transform: uppercase;

}
h3, .h3 {

   
    text-transform: uppercase;

}

@media only screen and (max-width:1130px){

 .single .elementor-widget-button{

    width: 50%!important;
    max-width: 50%!important;
	text-align: center;

}
}

@media only screen and (max-width:430px){
	.elementor-button.elementor-size-sm {

    font-size: 12px!important;

}
}
@media only screen and (max-width:767px){
	.padr150 {

    padding-right: 0!important;

}
.padl150 {

    padding-left: 0!important;

}
}
.single-thankyou_page {
    border: none!important;
}

.wpcf7 input[type="checkbox"] {

    box-sizing: border-box;
    padding: 0;
    float: left!important;
    max-width: 20px!important;
    margin-top: 6px!important;
    margin-left: -20px!important;

}
#main-nav {

    margin-right: 12.5%!important;

}
#primary {

   
    min-height: 521px!important;

}
#promo h2{text-transform: uppercase;
text-align: center;
display: flex;
align-items: center;
align-content: center;
vertical-align: middle;
min-height: 445px;}

.woocommerce .products ul, .woocommerce ul.products {

   
    display: flex!important;
}
.woocommerce ul.products li.product {

    float: none;
   
  
    position: relative;
    width: 22.05%;
    margin-left: 0;
    display: initial!important;
    margin-left: auto!important;
    margin-right: auto!important;

}
.home .inner-wrapper {

    max-width: 1400px!important;
    margin: 0px auto;

}

/*home*/

@media only screen and (max-width:767px){
.elementor-365 .elementor-element.elementor-element-b72447e > .elementor-widget-container {
    margin: 0;
    padding: 0;
}

.elementor-widget-image .elementor-image  a {

    display: inline-block;
    width: 100%;

}
.elementor-365 .elementor-element.elementor-element-6618dc5 > .elementor-widget-container {

    margin: 0px 0px 0px 0px;
    padding: 0!important;

}

.elementor img {


    width: 100%;

}
.elementor-365 .elementor-element.elementor-element-8996587 > .elementor-widget-container {


    padding:15px 0!important;

}
.elementor-365 .elementor-element.elementor-element-b72447e > .elementor-widget-container {

    margin: 0!important;
    padding: 0!important;

}
.paddingr15 {

    padding-right: 0!important;

}
.elementor-365 .elementor-element.elementor-element-a506b98 > .elementor-widget-container {

    padding: 15px 0 !important;

}
.paddingl15 {

    padding-left: 0!important;

}
.elementor-365 .elementor-element.elementor-element-b31cd0f > .elementor-widget-container {

    margin: 0!important;

}

}
@media only screen and (max-width:767px){

h4 {

   
    font-size: 2em !important;
}
h5 {

   
    font-size: 1rem!important;
}


}


/*products*/
@media only screen and (max-width:767px){
	.woocommerce .products ul, .woocommerce ul.products {

    display: grid !important;

}
}

@media only screen and (max-width:470px){
	.elementor-element-7e75953f{max-height:165px;}
	
	
	.elementor-591 .elementor-element.elementor-element-b7df14d > .elementor-container {

    min-height: 125px!important;

}

.elementor-608 .elementor-element.elementor-element-2086ebe > .elementor-container {

    min-height: 125px!important;

}
.elementor-625 .elementor-element.elementor-element-162f139 > .elementor-container {

    min-height: 125px!important;

}

.elementor-639 .elementor-element.elementor-element-740a52d > .elementor-container {
	
    min-height: 125px!important;

}

.elementor-646 .elementor-element.elementor-element-eafd425 > .elementor-container {
	
    min-height: 125px!important;

}

.elementor-505 .elementor-element.elementor-element-3efd60f > .elementor-container {

     min-height: 125px!important;

}
.elementor-655 .elementor-element.elementor-element-56bdea5 > .elementor-container {
	
  min-height: 125px!important;

}

}

@media only screen and (min-width:471px) and (max-width:767px){
	.elementor-591 .elementor-element.elementor-element-b7df14d > .elementor-container {

    min-height: 242px!important;

}
.elementor-608 .elementor-element.elementor-element-2086ebe > .elementor-container {

 min-height: 242px!important;

}


.elementor-625 .elementor-element.elementor-element-162f139 > .elementor-container {

    min-height: 242px!important;

}

.elementor-639 .elementor-element.elementor-element-740a52d > .elementor-container {
	
    min-height: 242px!important;

}

.elementor-646 .elementor-element.elementor-element-eafd425 > .elementor-container {
	
    min-height: 242px!important;

}

.elementor-505 .elementor-element.elementor-element-3efd60f > .elementor-container {
	
     min-height: 242px!important;

}
.elementor-655 .elementor-element.elementor-element-56bdea5 > .elementor-container {
	
  min-height: 242px!important;

}

}
@media only screen and (min-width:768px) and (max-width:1200px){
	.elementor-591 .elementor-element.elementor-element-b7df14d > .elementor-container {

    min-height: 242px!important;

}

.elementor-608 .elementor-element.elementor-element-2086ebe > .elementor-container {
	
 min-height: 242px!important;

}

.elementor-625 .elementor-element.elementor-element-162f139 > .elementor-container {

    min-height: 242px!important;

}
.elementor-639 .elementor-element.elementor-element-740a52d > .elementor-container {
	
    min-height: 242px!important;

}

.elementor-646 .elementor-element.elementor-element-eafd425 > .elementor-container {
	
    min-height: 242px!important;

}

.elementor-505 .elementor-element.elementor-element-3efd60f > .elementor-container {

     min-height: 242px!important;

}

.elementor-655 .elementor-element.elementor-element-56bdea5 > .elementor-container {
	
  min-height: 242px!important;

}


}

.ecommerce_gem_widget_social ul li a[href*="instagram.com"]:hover {

    background-color: 

    #c7b198!important;

}
#nav_menu-2{float: right;

 margin-right: 132px;}
#nav_menu-3,#nav_menu-4{max-width: 160px;

margin: 0px auto;}


@media only screen and (max-width:767px){
	
	#nav_menu-2 {
		
    float: left;
    margin-right: 0;
    margin-left: 45px;

}
#nav_menu-3, #nav_menu-4 {

    max-width: 160px;
    margin: 0px auto;
        margin-left: auto;
    float: left;
    margin-left: 45px;

}
	
}

@media only screen and (max-width:1050px){

#primary-menu .sub-menu{display: block!important;

z-index: 99!important;}

#primary-menu .sub-menu li {

    float: left;
    margin: 0;
    position: relative;
    width: 100%;
    background-color: 

    #c7b198;

}

#primary-menu  li a:hover {

    background: 

#252525;
}

}


@media only screen and (min-width:1051px) and (max-width:1200px){

#main-nav {

    margin-right: 23% !important;

}
}
@media only screen and (min-width:1201px) and (max-width:1400px){

#main-nav {

    margin-right: 20% !important;

}
}
@media only screen and (min-width:1401px) and (max-width:1600px){

#main-nav {

    margin-right: 18% !important;

}
}
@media only screen and (min-width:1401px) and (max-width:1800px){

#main-nav {

    margin-right: 16% !important;

}
}